/* General body styling */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: rgb(121, 121, 170);
  color: white;
}

/* Canvas styling */
canvas {
  border: 2px solid #333;
  margin-top: 10px;
}

/* Controls styling */
.controls {
  margin-top: 10px;
}

.controls input,
.controls button {
  margin: 5px;
}

/* File upload container */
.file-upload {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
}

/* Custom file upload button */
.custom-file-upload {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  border: none;
}

.custom-file-upload:hover {
  background-color: #0056b3;
}

/* Displaying file name */
#file-name {
  font-size: 14px;
  color: white;
}

/* Generate button styling */
#generate {
  background-color: green;
  color: white;
  font-weight: bold;
  padding: 6px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/* Download button styling */
#download {
  background-color: blue;
  color: white;
  font-weight: bold;
  padding: 6px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
